#gridPane {
    -fx-background-color: #000000;
    -fx-padding: 20px;
}

.btnStart, .btnEnd, .btnSimulator {
    -fx-background-color: #3B86FF; /* Button background color */
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5;
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-border-color: #2F68E8; /* Border color */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.btnEnd {
    -fx-background-color: #F04747; /* Exit button color */
    -fx-border-color: #E63534; /* Border color for Exit button */
}

.btnSimulator{
    -fx-background-color: #FFA07A; /* Simulator button color */
    -fx-border-color: #FA8072; /* Border color for simulator button */
}

.labelTitle {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);

}
.labelTitleSecondary {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);

}
